@charset "UTF-8";
h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 2vh;
  margin: 5vh 0vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h3 {
  text-transform: uppercase;
  margin: 5vh 0vw;
  letter-spacing: 1px;
  padding: 3vh 0vw;
  text-align: center;
  display: table;
}

h3::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #004581;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

h3:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.btn a {
  text-decoration: none;
}

nav {
  width: 100%;
  height: 15vh;
  background: -webkit-gradient(linear, left top, right top, from(#001b48), to(#018abd));
  background: linear-gradient(to right, #001b48, #018abd);
}

nav img {
  height: 13vh;
  margin-left: 1vw;
}

nav p {
  color: white;
  font-size: small;
  font-weight: 600;
}

nav .listaDropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15vh;
}

nav .listaDropdown .listaNavbar .lista {
  min-width: 15vw;
}

nav .listaDropdown .listaNavbar .lista a {
  color: white;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

nav .listaDropdown .listaNavbar .lista a:hover {
  color: white;
  -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

nav .listaDropdown .listaNavbar .lista .sublista {
  background-color: #001b48;
  border: none;
  margin: 0px 0px;
  width: 100%;
  -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

nav .listaDropdown .listaNavbar .lista .sublista li {
  width: 100%;
}

nav .listaDropdown .listaNavbar .lista .sublista li a {
  padding: 1vh 1vw;
  color: white;
  border-bottom: solid 1px white;
  text-align: center;
  width: 100%;
  height: 8vh;
}

nav .listaDropdown .listaNavbar .lista .sublista li a:hover {
  background-color: #7f94cda8;
  color: white;
}

nav .listaDropdown .listaNavbar .idioma {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: small;
}

.titulo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #004581;
  padding-top: 5vh;
}

.animate__animated .animate__backInLeft {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.banner {
  color: white;
  padding: 6vh 10vw;
  background-image: url(../multimedia/UNMDPintro.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  text-align: end;
  width: 100%;
  height: 85vh;
  -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
}

#textoInfo {
  color: white;
  text-align: start;
  letter-spacing: 1px;
  padding: 5vh 0vw;
  margin: 15vh 10vw;
  color: #001b48;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#textoInfo .lineaAzul {
  width: 1vw;
  background-color: #001b48;
  margin: 0vh 2vw;
}

#textoInfo h4 {
  display: table;
}

#textoInfo h4::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #001b48;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  width: 21vw;
}

#textoInfo h4:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

#convenios {
  padding: 5vh 5vw;
  color: white;
  letter-spacing: 1px;
  font-weight: 200;
  background: -webkit-gradient(linear, left top, right top, from(#001b48), to(#018abd));
  background: linear-gradient(to right, #001b48, #018abd);
  width: 100%;
}

#convenios h4 {
  font-weight: 400;
}

#convenios .boxConvenios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  padding: 5vh 0vw;
}

#convenios .boxConvenios img {
  margin: 0vh 5vw;
  width: 70%;
  height: 50vh;
}

#convenios .boxConvenios .infoConvenios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0vh 5vw;
}

#convenios .boxConvenios .infoConvenios p {
  text-align: center;
}

#convenios .boxConvenios .infoConvenios .btnBuscador {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1vh 2vw;
  border: 1px solid white;
}

#convenios .boxConvenios .infoConvenios .btnBuscador:hover {
  border: none;
  background-color: #001b48;
}

#convenios .boxConvenios .infoConvenios button {
  width: 25vw;
}

#boxNovedades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5vh 0vw;
}

#boxNovedades .tituloNovedades {
  color: #001b48;
}

#boxNovedades .tituloNovedades h4 {
  display: table;
}

#boxNovedades .tituloNovedades h4::after {
  content: "";
  display: block;
  height: 3px;
  background-color: white;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

#boxNovedades .tituloNovedades h4:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

#boxNovedades .boxInfoNovedades {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#boxNovedades .boxInfoNovedades .boxNov {
  background-color: #edf5f5;
  padding: 6vh 2vw;
  width: 22vw;
  margin: 5vh 5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 5px 4px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 4px 0px rgba(0, 0, 0, 0.2);
}

#boxNovedades .boxInfoNovedades .boxNov .imgNovedades {
  background-color: gray;
  height: auto;
}

#boxNovedades .boxInfoNovedades .boxNov .imgNovedades img {
  height: 100%;
  width: 100%;
}

#boxNovedades .boxInfoNovedades .boxNov .texto {
  text-align: center;
}

#boxNovedades .boxInfoNovedades .boxNov .texto .boton {
  background-color: #004581;
  color: white;
}

#boxNovedades .boxInfoNovedades .boxNov .texto h5 {
  color: #004581;
  text-transform: uppercase;
  font-size: small;
  letter-spacing: 1px;
  margin: 3vh 0vw;
}

#boxNovedades .boxInfoNovedades .boxNov:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#boxTrabajo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 1px;
  font-weight: 200;
  padding: 5vh 0vw;
  background: -webkit-gradient(linear, left top, right top, from(#001b48), to(#018abd));
  background: linear-gradient(to right, #001b48, #018abd);
  color: white;
}

#boxTrabajo .tituloTrabajo {
  width: 100vw;
}

#boxTrabajo .tituloTrabajo h4 {
  font-weight: 400;
}

#boxTrabajo .fondoTrabajo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#boxTrabajo .boxInfoTrabajo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30vw;
}

#boxTrabajo .boxInfoTrabajo .btnBuscador {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1vh 2vw;
  border: 1px solid white;
  text-align: center;
  font-size: large;
  width: 33VW;
  text-decoration: none;
  margin: 8vh 0vw;
}

#boxTrabajo .boxInfoTrabajo .btnBuscador a {
  color: white;
}

#boxTrabajo .boxInfoTrabajo .btnBuscador:hover {
  background-color: #001b48;
  border: 1px solid #001b48;
  text-decoration: none;
}

#boxTrabajo .boxInfoTrabajo .box {
  -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1vh 2vw;
  width: 28vw;
  height: 20vh;
  padding: 2vh 2vw;
  text-align: center;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  background-color: rgba(255, 255, 255, 0.349);
}

#boxTrabajo .boxInfoTrabajo .box .imgTrabajo {
  height: auto;
  border-radius: 50%;
}

#boxTrabajo .boxInfoTrabajo .box .imgTrabajo img {
  height: 75%;
  width: 75%;
  border-radius: 50%;
}

#boxTrabajo .boxInfoTrabajo .box .texto {
  height: auto;
  margin-top: 10px;
  color: #001b48;
}

#boxTrabajo .boxInfoTrabajo .box .texto h5 {
  color: #001b48;
  text-transform: uppercase;
  font-size: medium;
}

#boxTrabajo .boxInfoTrabajo .box .texto p {
  font-size: 14px;
}

#boxTrabajo .boxInfoTrabajo .box:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/*
.boxSecciones {
    display: flex;
    flex-direction: row;
    margin: 15vh 10vw;
    width: 80%;
    height: 80%;
    text-transform: uppercase;
    font-size: medium;
    letter-spacing: 1px;


    a {
        text-decoration: none;
        color: $azuloscuro;
        text-align: center;
        width: 30vw;

        .boxSeccion {
            height: 35vh;
            display: flex;
            align-items: start;
            justify-content: center;
            margin: 0px 5px;

            p {
                background-color: $azuloscuro;
                color: white;
                width: 100%;
                padding: 2px 2px;
            }
        }

        .convenio {
            background-image: none;
            background: linear-gradient(to right, $azuloscuro, $celeste);
        }

        .movilidad {
            background-image: url(multimedia/movilidad.png);
            background-size: cover;
        }

        .becas {
            background-image: url(multimedia/becas.png);
            background-size: cover;
        }


        .redes {
            background: linear-gradient(to right, $celesteclaro, #b9d5df);
        }

        .convenio:hover {
            background-image: url(multimedia/convenio.png);
            background-size: cover;
        }

        .movilidad:hover {
            background-image: none;
            background: linear-gradient(to right, $azuloscuro, $azul);
        }

        .becas:hover {
            background-image: none;
            background: linear-gradient(to right, $celeste, $celesteclaro);
        }

        .redes:hover {
            background-image: url(multimedia/redes.png);
            background-size: cover;
        }
    }

    a:hover {
        color: white;
    }

}*/
#mdp {
  padding: 5vh 5vw;
  height: 100%;
  color: #001b48;
  width: 100%;
}

#mdp .boxmdp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8vh 0vw;
}

#mdp .boxmdp img {
  width: 40vw;
  -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

#mdp .boxmdp .textoMdp {
  width: 45vw;
  padding: 0vh 2vw;
}

#mdp .boxmdp .textoMdp .btnBuscador {
  color: #001b48;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1vh 2vw;
  border: 1px solid #001b48;
}

#mdp .boxmdp .textoMdp .btnBuscador:hover {
  background-color: #001b48;
  color: white;
}

.boxSecciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10vh 6vw;
  width: 100%;
  height: 80%;
  text-transform: uppercase;
  font-size: medium;
  letter-spacing: 1px;
}

.boxSecciones a {
  text-decoration: none;
  color: #001b48;
  text-align: center;
  width: 30vw;
}

.boxSecciones a .boxSeccion {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 5px;
}

.boxSecciones a .boxSeccion p {
  color: white;
  width: 100%;
  margin-bottom: 0px;
  padding: 2px 2px;
}

.boxSecciones a .movilidad {
  background: -webkit-gradient(linear, left top, right top, from(#001b48));
  background: linear-gradient(to right, #001b48);
}

.boxSecciones a .convenio {
  background: -webkit-gradient(linear, left top, right top, from(#001b48), to(#004581));
  background: linear-gradient(to right, #001b48, #004581);
}

.boxSecciones a .becas {
  background: -webkit-gradient(linear, left top, right top, from(#004581));
  background: linear-gradient(to right, #004581);
}

.boxSecciones a .erasmus {
  background: -webkit-gradient(linear, left top, right top, from(#004581), to(#018abd));
  background: linear-gradient(to right, #004581, #018abd);
}

.boxSecciones a .redes {
  background: -webkit-gradient(linear, left top, right top, from(#018abd));
  background: linear-gradient(to right, #018abd);
}

.boxSecciones a .convenio:hover {
  background-image: url(../multimedia/convenio.png);
  background-size: cover;
  background-position: center;
}

.boxSecciones a .movilidad:hover {
  background-image: url(../multimedia/movilidad.png);
  background-size: cover;
  background-position: center;
}

.boxSecciones a .becas:hover {
  background-image: url(../multimedia/becas.png);
  background-size: cover;
  background-position: center;
}

.boxSecciones a .erasmus:hover {
  background-image: url(../multimedia/erasmus.png);
  background-size: cover;
  background-position: center;
}

.boxSecciones a .redes:hover {
  background-image: url(../multimedia/redes.png);
  background-size: cover;
  background-position: center;
}

.boxSecciones a:hover p {
  background-color: #001b48;
}

#boxRedesInternacionales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10vh 0vw;
}

#boxRedesInternacionales .tituloRedes {
  margin: 5vh;
  height: 8vh;
  color: #001b48;
}

#boxRedesInternacionales .boxRedes {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0vh 1vw;
}

#boxRedesInternacionales .boxRedes .boxRed {
  width: 10vw;
  height: auto;
  margin: 0vh 3vw;
}

#boxRedesInternacionales .boxRedes .boxRed:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#boxRedesInternacionales .boxRedes img {
  height: 100%;
  width: 100%;
}

/* convenio página*/
.boxConvenioSeccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  width: 100vw;
  color: #004581;
}

.boxConvenioSeccion h4 {
  padding: 5vh 0vw;
}

.boxConvenioSeccion .conveniosPaises {
  margin: 5vh 0vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5vh 5vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.boxConvenioSeccion .boxPais {
  width: 20%;
  padding: 3vh 3vw;
  color: #001b48;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0vh 1vw;
  font-weight: 200;
  -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.boxConvenioSeccion .boxPais .btnConvenios {
  border-bottom: solid 1px #001b48;
  color: #001b48;
  width: 10vw;
  padding: 2vh 0vw;
}

.boxConvenioSeccion .boxPais h6 {
  margin-bottom: 2vh;
}

.boxConvenioSeccion .btnConvenios:hover {
  background-color: white;
  border-bottom: none;
}

.boxConvenioSeccion .espanol:hover {
  background-image: url(../multimedia/espanol.png);
  background-size: cover;
  background-position: center;
}

.boxConvenioSeccion .ingles:hover {
  background-image: url(../multimedia/ingles.png);
  background-size: cover;
  background-position: center;
}

.boxConvenioSeccion .portugues:hover {
  background-image: url(../multimedia/portugues.png);
  background-size: cover;
  background-position: center;
}

.boxConvenioSeccion .frances:hover {
  background-image: url(../multimedia/frances.png);
  background-size: cover;
  background-position: center;
}

.boxConvenioSeccion .deutsche:hover {
  background-image: url(../multimedia/aleman.png);
  background-size: cover;
  background-position: center;
}

/* becas página*/
.boxBecasInternacionales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxBecasInternacionales .texto {
  text-align: center;
  margin: 0vh 3vw;
  color: #001b48;
  width: 100vw;
  background: -webkit-gradient(linear, left top, right top, from(#001b48), to(#018abd));
  background: linear-gradient(to right, #001b48, #018abd);
  color: white;
}

.boxBecasInternacionales .texto h4 {
  color: white;
  font-weight: 400;
}

.boxBecasInternacionales .texto p {
  margin: 5vh 20vw;
}

.boxBecasInternacionales .texto .btnBecas {
  margin-top: 5vh;
  border: 1px solid white;
  color: white;
  letter-spacing: 1px;
  padding: 1vh 1vw;
  margin: 5vh 0vw;
  font-size: medium;
  text-transform: uppercase;
  text-decoration: none;
}

.boxBecasInternacionales .texto .btnBecas a {
  color: white;
}

.boxBecasInternacionales .texto .btnBecas:hover {
  background-color: #001b48;
  color: white;
  border: none;
}

.boxBecasInternacionales .boxBecas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5vh 3vw;
  width: 100%;
}

.boxBecasInternacionales .boxBecas h5 {
  color: #001b48;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
  padding: 2vh 2vw;
}

.boxBecasInternacionales .boxBecas .boletinBecas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 15vh 10vw;
  width: 100%;
  height: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.boxBecasInternacionales .boxBecas .boletinBecas .boletin {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #001b48;
  width: 18vw;
  padding: 6vh 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  margin: 0vh 3vw;
  -webkit-transform: scale(var(--escala, 1));
          transform: scale(var(--escala, 1));
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.boxBecasInternacionales .boxBecas .boletinBecas .boletin a {
  color: #001b48;
}

.boxBecasInternacionales .boxBecas .boletinBecas .boletin:hover {
  --escala: 1.2;
  cursor: pointer;
}

/*movilidad página*/
#boxMovilidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, right top, from(#001b48), to(#018abd));
  background: linear-gradient(to right, #001b48, #018abd);
  color: white;
}

#boxMovilidad h3 {
  color: white;
}

#boxMovilidad .infoMovilidad p {
  margin: 10vh 20vw;
  text-align: center;
  letter-spacing: 1px;
}

.movEntranteySaliente h4 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #001b48;
  padding: 5vh 5vw;
}

.movEntranteySaliente .boxInfoPrograma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10vh 10vw;
}

.movEntranteySaliente .boxInfoPrograma .boxPrograma {
  background-color: white;
  margin: 0vh 1vw;
  -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  height: 40%;
  text-align: center;
  min-width: 20%;
}

.movEntranteySaliente .boxInfoPrograma .boxPrograma .boxMovilidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.movEntranteySaliente .boxInfoPrograma .boxPrograma .boxMovilidad .tituloMovilidad {
  padding: 2vh 1vw;
  color: #001b48;
  text-transform: uppercase;
  font-weight: 500;
}

.movEntranteySaliente .boxInfoPrograma .leerMasIndex {
  margin-top: 3vh;
}

.movEntranteySaliente .boxInfoPrograma .leerMasIndex .boton {
  border: 1px solid #001b48;
  color: #001b48;
}

.movEntranteySaliente .boxInfoPrograma .leerMasIndex .boton:hover {
  background-color: #001b48;
  color: white;
}

footer {
  background: -webkit-gradient(linear, left top, right top, from(#001b48), to(#018abd));
  background: linear-gradient(to right, #001b48, #018abd);
  color: white;
  height: 100%;
  width: 100%;
  padding: 8vh 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1PX;
}

footer .boxFooter {
  width: 30vw;
  font-size: small;
  text-align: center;
}

footer .boxFooter h6 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: small;
}

footer .boxFooter img {
  height: 5vh;
  margin: 2px;
}

footer .boxFooter .boton {
  font-size: small;
  border: 1px solid white;
  color: white;
  letter-spacing: 1px;
}

footer .boxFooter .boton:hover {
  background-color: white;
  color: #001b48;
}

@media (max-width: 430px) {
  .banner {
    height: 90vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  h4 {
    text-align: center;
  }
}

@media (max-width: 750px) {
  .boxSecciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .boxSecciones a {
    width: 100vw;
    margin: 1vh 0vw;
  }
  .boxSecciones a .boxSeccion {
    height: 15vh;
  }
  #boxTrabajo .boxInfoTrabajo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #boxTrabajo .boxInfoTrabajo .box {
    padding: 2vh 5vw;
    width: 60vw;
  }
  #boxTrabajo .boxInfoTrabajo .box .imgTrabajo img {
    height: 20vh;
    width: auto;
  }
  #boxNovedades .boxInfoNovedades {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #boxNovedades .boxNov {
    min-width: 60vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .convenio .conveniosPaises {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .convenio .conveniosPaises .boxPais {
    padding: 2vh 0vw;
  }
  .boxBecasInternacionales {
    width: 100vw;
  }
  .boxBecasInternacionales .texto {
    width: 75%;
  }
  .boxBecasInternacionales .boxBecas {
    width: 75%;
  }
  .boxBecasInternacionales .boxBecas .boletinBecas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5vh 0vw;
  }
  .boxBecasInternacionales .boxBecas .boletinBecas .boletin {
    margin-bottom: 2vh;
    width: 45vw;
  }
  #boxRedesInternacionales .boxRedes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #boxRedesInternacionales .boxRedes .boxRed {
    width: 45vw;
  }
  #boxMovilidad .infoMovilidad p {
    margin: 8vh 8vw;
  }
  #boxMovilidad .boxInfoPrograma {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #boxMovilidad .texto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #boxMovilidad .texto .nombre {
    margin-bottom: 4vh;
  }
  .boxConvenio .conveniosPaises {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 65vw;
  }
  .boxConvenio .conveniosPaises .boxPais {
    width: 100%;
    margin: 5vh 0vw;
  }
  .boxConvenio .conveniosPaises .boxPais .btnConvenios {
    width: 30vw;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  footer .boxFooter {
    width: 100%;
    margin: 2vh 0vw;
  }
}

@media (max-width: 992px) {
  nav .listaDropdown .listaNavbar {
    width: 100%;
    text-align: center;
    background-color: #001b48;
    height: 100%;
  }
  nav .listaDropdown .listaNavbar .lista {
    background: -webkit-gradient(linear, left top, right top, from(#001b48), to(#018abd));
    background: linear-gradient(to right, #001b48, #018abd);
    border-bottom: 1px solid white;
  }
  nav .listaDropdown .listaNavbar .lista a {
    color: white;
    font-weight: 400;
  }
  nav .listaDropdown .listaNavbar .lista a:hover {
    color: #001b48;
  }
  #boxTrabajo .fondoTrabajo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #boxTrabajo .boxInfoTrabajo .btnBuscador {
    width: 60vw;
  }
  #convenios .boxConvenios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #convenios .boxConvenios .infoConvenios button {
    width: 50vw;
  }
  #convenios .boxConvenios img {
    height: auto;
  }
  #mdp .boxmdp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #mdp .boxmdp img {
    width: 70vw;
  }
  #mdp .boxmdp .textoMdp {
    width: 70vw;
    padding: 5vh 0vw;
    text-align: center;
  }
  .boxConvenioSeccion .conveniosPaises {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .boxConvenioSeccion .conveniosPaises .boxPais {
    width: 50vw;
    margin-bottom: 5vh;
    height: 50vh;
  }
  .boxConvenioSeccion .conveniosPaises .boxPais .btnConvenios {
    width: 30vw;
  }
}
/*# sourceMappingURL=style.css.map */