h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  text-transform: uppercase;
  margin: 5vh 0vw;
  letter-spacing: 1px;
  padding: 3vh 0vw;
  text-align: center;
  display: table;
}

h3::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #004581;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

h3:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

nav {
  background: -webkit-gradient(linear, left top, right top, from(#001b48), to(#018abd));
  background: linear-gradient(to right, #001b48, #018abd);
  color: white;
}

nav img {
  height: 8vh;
  border-radius: 50%;
  margin-left: 1vw;
}

nav .listaDropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  color: white;
  padding: 0vh 5vw;
}

nav .listaDropdown .listaNavbar .lista {
  padding-left: 2vw;
}

nav .listaDropdown .listaNavbar .lista .sublista {
  background-color: #7f94cda8;
  text-align: center;
  border: none;
  padding: 0px 0px;
}

nav .listaDropdown .listaNavbar .lista .sublista li a {
  padding: 1vh 1vw;
  color: #001b48;
  border-bottom: solid 1px #001b48;
}

nav .listaDropdown .listaNavbar .lista .sublista li a:hover {
  background-color: #7f94cda8;
  color: white;
}

.titulo {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#97cbdc), to(#d6dde0));
  background: linear-gradient(to bottom, #97cbdc, #d6dde0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #004581;
}

.animate__animated .animate__backInLeft {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.banner {
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#001b48), to(#018abd));
  background: linear-gradient(to right, #001b48, #018abd);
  padding: 3vh 5vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 55vh;
  -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.banner h1 {
  letter-spacing: 1px;
}

#boxTrabajo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5vh 0vw;
}

#boxTrabajo .textoInfo {
  color: white;
  text-align: start;
  letter-spacing: 1px;
  margin: 5vh 10vw;
  color: #001b48;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#boxTrabajo .textoInfo .lineaAzul {
  width: 1vw;
  background-color: #001b48;
  margin: 0vh 2vw;
}

#boxTrabajo .textoInfo h4 {
  display: table;
}

#boxTrabajo .textoInfo h4::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #004581;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

#boxTrabajo .textoInfo h4:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

#boxTrabajo .boxInfoTrabajo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#boxTrabajo .boxInfoTrabajo .box {
  -webkit-box-shadow: 20px 20px 60px #CCCCCC, -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 60px #CCCCCC, -20px -20px 60px #ffffff;
  background-color: #b9d5df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px;
  width: 17vw;
  height: 100%;
  padding: 2vh 2vw;
  text-align: center;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

#boxTrabajo .boxInfoTrabajo .box .imgTrabajo {
  background-color: gray;
  height: auto;
  border-radius: 50%;
}

#boxTrabajo .boxInfoTrabajo .box .imgTrabajo img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

#boxTrabajo .boxInfoTrabajo .box .texto {
  height: auto;
  margin-top: 10px;
}

#boxTrabajo .boxInfoTrabajo .box .texto h5 {
  color: #001b48;
  text-transform: uppercase;
  font-size: medium;
  margin: 2vh 0vw;
}

#boxTrabajo .boxInfoTrabajo .box .texto p {
  font-size: 14px;
}

#boxTrabajo .boxInfoTrabajo .box:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/*
.boxSecciones {
    display: flex;
    flex-direction: row;
    margin: 15vh 10vw;
    width: 80%;
    height: 80%;
    text-transform: uppercase;
    font-size: medium;
    letter-spacing: 1px;


    a {
        text-decoration: none;
        color: $azuloscuro;
        text-align: center;
        width: 30vw;

        .boxSeccion {
            height: 35vh;
            display: flex;
            align-items: start;
            justify-content: center;
            margin: 0px 5px;

            p {
                background-color: $azuloscuro;
                color: white;
                width: 100%;
                padding: 2px 2px;
            }
        }

        .convenio {
            background-image: none;
            background: linear-gradient(to right, $azuloscuro, $celeste);
        }

        .movilidad {
            background-image: url(multimedia/movilidad.png);
            background-size: cover;
        }

        .becas {
            background-image: url(multimedia/becas.png);
            background-size: cover;
        }


        .redes {
            background: linear-gradient(to right, $celesteclaro, #b9d5df);
        }

        .convenio:hover {
            background-image: url(multimedia/convenio.png);
            background-size: cover;
        }

        .movilidad:hover {
            background-image: none;
            background: linear-gradient(to right, $azuloscuro, $azul);
        }

        .becas:hover {
            background-image: none;
            background: linear-gradient(to right, $celeste, $celesteclaro);
        }

        .redes:hover {
            background-image: url(multimedia/redes.png);
            background-size: cover;
        }
    }

    a:hover {
        color: white;
    }

}*/
.boxSecciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 15vh 10vw;
  width: 80%;
  height: 80%;
  text-transform: uppercase;
  font-size: medium;
  letter-spacing: 1px;
}

.boxSecciones a {
  text-decoration: none;
  color: #001b48;
  text-align: center;
  width: 30vw;
}

.boxSecciones a .boxSeccion {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 5px;
}

.boxSecciones a .boxSeccion p {
  color: white;
  width: 100%;
  padding: 2px 2px;
}

.boxSecciones a .movilidad {
  background: -webkit-gradient(linear, left top, right top, from(#001b48), to(#004581));
  background: linear-gradient(to right, #001b48, #004581);
}

.boxSecciones a .convenio {
  background: -webkit-gradient(linear, left top, right top, from(#001b48), to(#018abd));
  background: linear-gradient(to right, #001b48, #018abd);
}

.boxSecciones a .becas {
  background: -webkit-gradient(linear, left top, right top, from(#018abd), to(#018abd));
  background: linear-gradient(to right, #018abd, #018abd);
}

.boxSecciones a .redes {
  background: -webkit-gradient(linear, left top, right top, from(#018abd), to(#97cbdc));
  background: linear-gradient(to right, #018abd, #97cbdc);
}

.boxSecciones a .convenio:hover {
  background-image: url(multimedia/convenio.png);
  background-size: cover;
  background-position: center;
}

.boxSecciones a .movilidad:hover {
  background-image: url(multimedia/movilidad.png);
  background-size: cover;
  background-position: center;
}

.boxSecciones a .becas:hover {
  background-image: url(multimedia/becas.png);
  background-size: cover;
  background-position: center;
}

.boxSecciones a .redes:hover {
  background-image: url(multimedia/redes.png);
  background-size: cover;
  background-position: center;
}

.boxSecciones a:hover p {
  background-color: #001b48;
}

#boxNovedades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5vh 0vw;
  background: -webkit-gradient(linear, left top, right top, from(#001b48), to(#018abd));
  background: linear-gradient(to right, #001b48, #018abd);
}

#boxNovedades .tituloNovedades {
  color: white;
  width: 100%;
  padding: 2vh;
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#boxNovedades .tituloNovedades h4 {
  display: table;
}

#boxNovedades .tituloNovedades h4::after {
  content: "";
  display: block;
  height: 3px;
  background-color: white;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

#boxNovedades .tituloNovedades h4:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

#boxNovedades .boxInfoNovedades {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#boxNovedades .boxInfoNovedades .boxNov {
  background-color: #edf5f5;
  padding: 4vh 2vw;
  width: 22vw;
  margin: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 5px 4px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 4px 0px rgba(0, 0, 0, 0.2);
}

#boxNovedades .boxInfoNovedades .boxNov .imgNovedades {
  background-color: gray;
  height: auto;
}

#boxNovedades .boxInfoNovedades .boxNov .imgNovedades img {
  height: 100%;
  width: 100%;
}

#boxNovedades .boxInfoNovedades .boxNov .texto {
  text-align: center;
}

#boxNovedades .boxInfoNovedades .boxNov .texto .boton {
  background-color: #004581;
  color: white;
}

#boxNovedades .boxInfoNovedades .boxNov .texto h5 {
  color: #004581;
  text-transform: uppercase;
  font-size: small;
  letter-spacing: 1px;
  margin: 3vh 0vw;
}

#boxNovedades .boxInfoNovedades .boxNov:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#boxRedesInternacionales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10vh 0vw;
}

#boxRedesInternacionales .tituloRedes {
  margin: 5vh;
  height: 8vh;
  color: #001b48;
}

#boxRedesInternacionales .boxRedes {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0vh 1vw;
}

#boxRedesInternacionales .boxRedes .boxRed {
  width: 10vw;
  height: auto;
  margin: 0vh 3vw;
}

#boxRedesInternacionales .boxRedes .boxRed:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#boxRedesInternacionales .boxRedes img {
  height: 100%;
  width: 100%;
}

/* convenio */
.boxConvenio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  width: 100%;
  color: #004581;
}

.boxConvenio .boxMapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 3vh 5vw;
}

.boxConvenio .boxMapa iframe {
  -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  margin: 5vh;
}

.boxConvenio .boxMapa p {
  letter-spacing: 1px;
}

.boxConvenio .boxMapa .btnBuscador {
  background-color: #001b48;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 2vh 2vw;
}

.boxConvenio .boxMapa .btnBuscador:hover {
  background-color: #97cbdc;
  color: #001b48;
  border: 2px solid #004581;
}

.boxConvenio .conveniosPaises {
  margin: 5vh 0vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5vh 5vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.boxConvenio .boxPais {
  width: 20%;
  padding: 3vh 3vw;
  color: #004581;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#97cbdc), to(#d6dde0));
  background: linear-gradient(to bottom, #97cbdc, #d6dde0);
  margin: 0vh 1vw;
}

.boxConvenio .boxPais .btnConvenios {
  background-color: #e0f1f1;
  color: #001b48;
}

.boxConvenio .boxPais h6 {
  margin-bottom: 2vh;
}

.boxConvenio .boxPais:hover {
  color: white;
}

.boxConvenio .btnConvenios:hover {
  background-color: #97cbdc;
}

.boxConvenio .espanol:hover {
  background-image: url(multimedia/espanol.png);
  background-size: cover;
}

.boxConvenio .ingles:hover {
  background-image: url(multimedia/ingles.png);
  background-size: cover;
}

.boxConvenio .portugues:hover {
  background-image: url(multimedia/portugues.png);
  background-size: cover;
}

.boxConvenio .frances:hover {
  background-image: url(multimedia/frances.png);
  background-size: cover;
}

.boxConvenio .deutsche:hover {
  background-image: url(multimedia/deutsche.png);
  background-size: cover;
}

/*movilidad*/
#boxMovilidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#boxMovilidad .infoMovilidad p {
  margin: 10vh 20vw;
  text-align: center;
  letter-spacing: 1px;
  color: #004581;
}

#boxMovilidad .boxInfoPrograma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#boxMovilidad .boxInfoPrograma .boxPrograma {
  background: -webkit-gradient(linear, left top, left bottom, from(#97cbdc), to(#d6dde0));
  background: linear-gradient(to bottom, #97cbdc, #d6dde0);
  padding: 3vh 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 5px 4px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 4px 0px rgba(0, 0, 0, 0.2);
  margin: 2vh 5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40%;
}

#boxMovilidad .boxInfoPrograma .boxPrograma .infoLogoInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#boxMovilidad .boxInfoPrograma .boxPrograma .infoLogoInfo .logoPrograma {
  padding: 2vh 3vw;
  color: #001b48;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: x-large;
}

#boxMovilidad .boxInfoPrograma .boxPrograma .leerMasIndex {
  margin-top: 3vh;
}

#boxMovilidad .boxInfoPrograma .boxPrograma .leerMasIndex .boton {
  background-color: #001b48;
  color: white;
}

#boxMovilidad h5 {
  color: #001b48;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10vh;
  width: 100%;
  text-align: center;
  padding: 2vh 2vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#97cbdc), to(#d6dde0));
  background: linear-gradient(to bottom, #97cbdc, #d6dde0);
}

#boxMovilidad .texto {
  text-align: center;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 10vh 0vw;
}

#boxMovilidad .texto .nombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0vh 5vw;
}

#boxMovilidad .texto .nombre .mail {
  letter-spacing: 1px;
  font-size: small;
}

#boxMovilidad .texto img {
  height: 15vh;
  border-radius: 50%;
  margin-bottom: 2vh;
}

/* becas */
.boxBecasInternacionales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5vh 0vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxBecasInternacionales .texto {
  text-align: center;
  margin: 5vh 3vw;
  color: #001b48;
  letter-spacing: 1px;
  width: 50%;
}

.boxBecasInternacionales .texto .btnBecas {
  margin-top: 5vh;
  background-color: #001b48;
  color: white;
  letter-spacing: 1px;
  padding: 1vh 1vw;
  border: none;
}

.boxBecasInternacionales .texto .btnBecas:hover {
  background-color: #97cbdc;
  color: #004581;
  border: 2px solid #004581;
}

.boxBecasInternacionales .boxBecas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5vh 3vw;
  width: 50%;
}

.boxBecasInternacionales .boxBecas h5 {
  color: #001b48;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
  padding: 2vh 2vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#97cbdc), to(#d6dde0));
  background: linear-gradient(to bottom, #97cbdc, #d6dde0);
}

.boxBecasInternacionales .boxBecas .boletinBecas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10vh 10vw;
  width: 100%;
  height: 80%;
}

.boxBecasInternacionales .boxBecas .boletinBecas .boletin {
  width: 30vw;
  padding: 4vh 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#97cbdc), to(#d6dde0));
  background: linear-gradient(to bottom, #97cbdc, #d6dde0);
  margin: 0vh 1vw;
}

footer {
  background: -webkit-gradient(linear, left top, right top, from(#001b48), to(#018abd));
  background: linear-gradient(to right, #001b48, #018abd);
  color: white;
  height: 100%;
  padding: 8vh 5vw;
  text-align: center;
}

@media (max-width: 430px) {
  .banner {
    height: 90vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 750px) {
  .boxSecciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5vh auto;
    height: 100%;
  }
  .boxSecciones a {
    width: 100vw;
    margin: 1vh 0vw;
  }
  .boxSecciones a .boxSeccion {
    height: 15vh;
  }
  /*

    .barraNavegadora {

        .listaDropdown {
            text-align: center;
            color: white;
            padding: 5vh 0vw;
            width: 100vw;

            ul {
                width: 100vw;
                display: flex;
                justify-content: center;
            }

            .lista {
                padding-left: 0vw;
            }
        }
    } */
  #boxTrabajo .boxInfoTrabajo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #boxTrabajo .boxInfoTrabajo .box {
    padding: 2vh 5vw;
    min-width: 50vw;
  }
  #boxNovedades .boxInfoNovedades {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #boxNovedades .boxNov {
    min-width: 50vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 0px;
  }
  .convenio .conveniosPaises {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .convenio .conveniosPaises .boxPais {
    padding: 2vh 0vw;
  }
  .boxBecasInternacionales .texto {
    width: 75%;
  }
  .boxBecasInternacionales .boxBecas {
    width: 75%;
  }
  .boxBecasInternacionales .boxBecas .boletinBecas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5vh 0vw;
  }
  .boxBecasInternacionales .boxBecas .boletinBecas .boletin {
    margin-bottom: 2vh;
    width: 45vw;
  }
  #boxRedesInternacionales .boxRedes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #boxRedesInternacionales .boxRedes .boxRed {
    width: 45vw;
  }
  #boxMovilidad .infoMovilidad p {
    margin: 8vh 8vw;
  }
  #boxMovilidad .boxInfoPrograma {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #boxMovilidad .texto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #boxMovilidad .texto .nombre {
    margin-bottom: 4vh;
  }
  .boxConvenio .boxMapa {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 0vh 4vw;
  }
  .boxConvenio .boxMapa iframe {
    width: 75%;
    height: auto;
  }
  .boxConvenio .conveniosPaises {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 65vw;
  }
  .boxConvenio .conveniosPaises .boxPais {
    width: 100%;
    margin-bottom: 5px;
  }
  footer {
    padding: 10vh 15vw;
  }
}

@media (max-width: 992px) {
  nav .listaDropdown .listaNavbar {
    width: 100%;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */